.content{
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 15%;
  padding-right: 15%;
  font-size: larger;
}

.menu{
  font-size: larger;
  border: 1px dashed black;
  position: fixed;
  top: 45%;  /* 0px from the top */
  left: 0; /* 0px from the left */
  /* width: 100%; same as parent, useful for spanning the page */
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
  margin-left: 2%;
}

.overview{
  
}

.lightgraybg{
  background: lightgray;
}

.parta{
  background: lightgray;
}

.partb{
  padding-left: 8%;
  padding-right: 8%;
}

.partbWord1{
  padding-right: 10%;
}

/* .partbGraph1{
  padding-left: 3%;
} */ 

.partc{
  background: lightgray;
}

.partcgraph {
  background: white;
}

.partd{
}

.conclusion{
  background: lightgray;
}

.d3-component svg {
  background: #ddd;
  max-height: 300px;
}
.vg-tooltip table {
  margin-bottom: 0px;
}

@media all and (max-width: 1000px) {
  .d3-component svg {
    max-height: 200px;
  }
}
.idyll-scroll .idyll-text-container {
  max-width: 50vw;
}
.idyll-scroll-text .idyll-step {
  max-width: 45vw;
}
.d3-component-container {
  height: 20vw;
  width: 20vw;
  margin-left: 72vw;
}
#idyll-scroll-1 > .idyll-scroll-graphic {
  background: #33333f;
}
@media only screen and (max-width: 600px) {
  .idyll-scroll .idyll-text-container {
    max-width: 57vw;
  }
  .idyll-scroll-text .idyll-step {
    max-width: 57vw;
  }
  .d3-component-container {
    height: 31vw;
    width: 31vw;
    margin-left: 65vw;
  }
}
