.content{
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 18%;
  padding-right: 18%;
  font-size: larger;
}

.overview{
  padding-top: 1000px;
}

.presentation{
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 22.5%;
  padding-right: 22.5%;
  font-size: larger;
}

.lightgraybg{
  background: lightgray;
}

.parta{
  background: lightgray;
}

.partb{
  padding-left: 8%;
  padding-right: 8%;
}

.partbWord1{
  padding-right: 10%;
}

/* .partbGraph1{
  padding-left: 3%;
} */ 

.partc{
  background: lightgray;
}

.partcgraph {
  background: white;
}

.partd{
}

.endpart{
  background: lightgray;
}

.d3-component svg {
  background: #ddd;
  max-height: 300px;
}
.vg-tooltip table {
  margin-bottom: 0px;
}

@media all and (max-width: 1000px) {
  .d3-component svg {
    max-height: 200px;
  }
}
.idyll-scroll .idyll-text-container {
  max-width: 50vw;
}
.idyll-scroll-text .idyll-step {
  max-width: 45vw;
}
.d3-component-container {
  height: 20vw;
  width: 20vw;
  margin-left: 72vw;
}
#idyll-scroll-1 > .idyll-scroll-graphic {
  background: #33333f;
}
@media only screen and (max-width: 600px) {
  .idyll-scroll .idyll-text-container {
    max-width: 57vw;
  }
  .idyll-scroll-text .idyll-step {
    max-width: 57vw;
  }
  .d3-component-container {
    height: 31vw;
    width: 31vw;
    margin-left: 65vw;
  }
}
